<mat-card class="app-empty-state">
  <mat-card-content>
    <img src="assets/clipboard.png" width="75">

    <blockquote><span class="quotes">“</span>Focus on being productive instead of busy.<span class="quotes">”</span><br> – <cite>Tim Ferriss</cite></blockquote>

    <p>Welcome to the <strong>Firelist Angular</strong> web app.<br> Check out the entire course at <a href="https://www.fullstackfirebase.com/">Firebase Fulltasck</a> right now.</p>
  </mat-card-content>

  <mat-card-actions class="identity-providers">
    <button mat-raised-button (click)="connectWithGoogle()" class="auth-google">
      <mat-icon svgIcon="google"></mat-icon>Connect with Google
    </button>
    <button mat-raised-button (click)="connectWithFacebook()" class="auth-facebook">
      <mat-icon svgIcon="facebook"></mat-icon>Connect with Facebook
    </button>
    <button mat-raised-button (click)="connectWithTwitter()" class="auth-twitter">
      <mat-icon svgIcon="twitter"></mat-icon>Connect with Twitter
    </button>
    <button mat-raised-button (click)="connectWithGithub()" class="auth-github">
      <mat-icon svgIcon="github"></mat-icon>Connect with Github
    </button>
  </mat-card-actions>
</mat-card>