$break-small: 640px;

.mat-card {
  max-width: 80%;
  margin: 2em auto;
  padding: 0;

  .mat-card-header {
    background-color: rgba(0,0,0,.03);
    padding: 24px 8px;
    
    .mat-card-title {
      color: rgba(0,0,0,.54);
      font-size: 20px;
      font-weight: 400;
      margin: 0;

      .btn-back {
        position: absolute;
        left: -34px;
        top: 16px;
      }
    }
  }

  .mat-card-content {
    padding: 16px 0;

    > p {
      font-size: 16px;
      margin: 0;
      padding: 16px;

      &.note-due-date {
        padding: 16px 0 0;
      }
    }

    .mat-list {
      padding-top: 0;
    }
  }

  @media screen and (max-width: $break-small) {
    box-shadow: none !important;
    max-width: 100%;
    margin: 0;

    .mat-card-header {
      padding: 12px 4px;

      .mat-card-title {
        font-size: 14px;
      }
    }

    .mat-card-content {
      padding: 0;

      p {
        font-size: 12px;
      }
    }

    .mat-list, 
    .mat-nav-list, 
    .mat-selection-list {
      .mat-list-item {
        font-size: 12px;
      }
    }
  }
}