<div *ngIf="auth.user; then authenticated else guest"></div>

<ng-template #authenticated>
  <div *ngIf="auth.user as user">
    <mat-toolbar>
      <mat-toolbar-row>
        <button class="app-avatar-button" mat-icon-button (click)="goToNotesList()">
          <img [src]="user.photoURL" [alt]="user.displayName" width="32" class="app-avatar">
        </button>
        <span>Firelist <img src="assets/icons/emojione_fire.png" class="emoji"></span>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button (click)="goToNotesGeolocation()">
          <mat-icon>my_location</mat-icon>
        </button>
        <button mat-icon-button [mat-menu-trigger-for]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout($event)" aria-label="Logout">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</ng-template>

<ng-template #guest>
  <mat-toolbar>
    <mat-toolbar-row>
      <span>Firelist <img src="assets/icons/emojione_fire.png" class="emoji"></span>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button>
        <mat-icon>assignment</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</ng-template>