@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "material-theme.scss";

$break-small: 599px;

body {
  background-color: whitesmoke;
  font-family: Roboto, sans-serif;
  margin: 0;
}

.app-firelist {
  @media screen and (max-width: $break-small) {
    .mat-toolbar-row, 
    .mat-toolbar-single-row {
      font-size: 16px;
      padding: 0 6px 0 12px;
    }

    .mat-icon-button {
      line-height: 18px;

      .mat-icon, i {
        line-height: 18px;
      }
    }

    .mat-icon {
      height: 18px;
      width: 18px;
    }

    .material-icons {
      font-size: 18px;
    }

    app-auth {
      .app-empty-state {
        background-color: transparent;
        box-shadow: none;
      }
    }
  }
  
  .mat-progress-bar {
    &.app-loading-state {
      height: 2px;
      position: absolute;
      top: 0;
    }
  }

  .mat-fab.fab-bottom-right {
    position: fixed;
    right: 12px;
    bottom: 12px;
  }

  .app-avatar {
    border-radius: 50%;
  
    &.bordered {
      box-shadow: 0 1px 1px 1px rgba(0,0,0,.2);
      border: 1px solid #fff;
    }
  }

  app-notes-list {
    .app-empty-state {
      background-color: #6382ff;

      blockquote, p {
        color: #FFF;
      }
    }
  }

  app-note {
    @media screen and (max-width: $break-small) {
      .mat-card-header {
        .mat-card-header-text {
          margin: 0;
        }
      }
    }

    .mat-card-header {
      .mat-card-header-text {
        width: 100%;
    
        .mat-input-element {
          // accent color
          caret-color: #e91e63;
        }
      }
    }
  }

  .mat-card {
    max-width: 80%;
    margin: 2em auto;
    padding: 0 0 24px;

    &.note-item {
      cursor: pointer;
    }

    &.has-card-actions {
      .mat-card-content {
        border-bottom: 1px solid rgba(0,0,0,.03);
      }

      .mat-card-actions {
        button:last-child {
          float: right;
        }
      }
    }

    &.app-empty-state {
      text-align: center;

      .mat-card-content {
        img {
          margin: 30px 0 40px;
        }
  
        blockquote {
          font-size: 1.25rem;
          font-style: italic;
          margin: 0 0 20px;
          padding: 0 10px;
        }

        > p {
          font-size: 14px;
          margin-bottom: 20px;
          padding: 12px;
        }
      }
    }

    .mat-card-header {
      background-color: rgba(0,0,0,.03);
      padding: 24px 8px;
      
      .mat-card-header-text {
        align-items: center;
        display: flex;
      }
      
      .mat-card-title {
        color: rgba(0,0,0,.54);
        font-size: 20px;
        font-weight: 400;
        margin: 0;

        .btn-back {
          position: absolute;
          left: -34px;
          top: 16px;
        }
      }
    }

    .mat-card-content {
      padding: 16px 0;
      margin-bottom: 0;

      > p {
        font-size: 16px;
        margin: 0;
        padding: 16px;
      }

      .mat-list {
        padding-top: 0;
      }

      .note-metadata {
        display: inline-flex;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.1);
        padding: 8px 12px 6px 10px;
        font-size: 12px;
        color: #888;
        font-weight: lighter;
        position: relative;

        &.clean {
          background-color: transparent;
          padding-left: 4px;
        }

        &.note-duedate {
          .mat-icon-button {
            right: -20px;
            position: absolute;
            top: -20px;
            visibility: hidden;
          }

          &:hover {
            .mat-icon-button {
              visibility: visible;
            }
          }
        }

        .mat-icon {
          margin-right: 2px;
        }
      }
    }

    .mat-card-actions {
      padding-left: 24px;
      padding-right: 24px;

      &.identity-providers {
        .mat-button,
        .mat-raised-button {
          width: 100%;
          margin: 0 0 10px;
          padding: 0;
        }
      }
    }

    @media screen and (max-width: $break-small) {
      max-width: 100%;
      margin: 16px;

      &.app-empty-state {
        .mat-card-content {
          blockquote {
            font-size: 1rem;
          }

          > p {
            font-size: 12px;
          }
        }
      }

      .mat-card-header {
        padding: 12px;

        .mat-card-title {
          font-size: 14px;

          .btn-back {
            left: -28px;
            top: -1px;
          }
        }
      }

      .mat-card-content {
        padding: 0;

        p {
          font-size: 12px;
          padding: 12px;
        }
      }

      .mat-card-actions {
        padding-left: 8px;
        padding-right: 8px;

        .mat-button,
        .mat-raised-button {
          padding: 0 8px;
          margin: 0 6px;
          font-size: 12px;
        }
      }

      .mat-list, 
      .mat-nav-list, 
      .mat-selection-list {
        .mat-list-item {
          font-size: 12px;
        }
      }
    }
  }

  .mat-list {
    @media screen and (max-width: $break-small) {
      .mat-list-item {
        .mat-list-icon {
          font-size: 18px;
          height: 18px;
          width: 18px;
        }
      }
    }

    .note-item-description {
      height: 80px;

      .mat-list-icon {
        align-self: flex-start;
        margin-top: 15px;
      }
    }

    .mat-list-item:not(.form-field-item) {
      &:hover {
        background: rgba(0, 0, 0, 0.04);
      }
    }
  
    .mat-list-item-content {
      .mat-form-field {
        width: 100%;
        
        .mat-form-field-infix {
          top: 4px;
        }
  
        .mat-form-field-underline {
          background-color: transparent;
        }
      }
    }
  }
}